<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hamro Bazar</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="style/style.css" rel="stylesheet" >
</head>
<body>

<div class="col-md-12">

    <nav class="mynav navbar navbar-expand-lg navbar-light bg-light ">

        <div class="container">
            <img src="img/pic-1.png" class="pic-1">
            <a class="navbar-brand" href="#">Hamro Bazar </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </form>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cart<span class="badge bg-danger">4</span></a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>






</div>


<div class="container mt-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">QTY</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><img src="img/orange.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Orange</td>
            <td>5</td>
            <td>$5.67</td>
            <td>$14.95</td>
        </tr>


        <tr>
            <td>2</td>
            <td><img src="img/banana packet.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Banana</td>
            <td>5</td>
            <td>$2.99</td>
            <td>$41.5</td>
        </tr>

        <tr>
            <td>3</td>
            <td><img src="img/Mango.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Mango</td>
            <td>5</td>
            <td>$3.4</td>
            <td>$30</td>
        </tr>

        <tr>
            <td>4</td>
            <td><img src="img/Green Peppers.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Romania Lettuce</td>
            <td>5</td>
            <td>$10.23</td>
            <td>$29.5</td>
        </tr>

        <tr>
            <td>5</td>
            <td><img src="img/roman lettuce.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Bell Peppers</td>
            <td>5</td>
            <td>$9</td>
            <td>$43.45</td>
        </tr>

        <tr>
            <td>6</td>
            <td><img src="img/apple.jpg" alt="orange" class="img-fluid" style="width: 100px;"></td>
            <td>Apples</td>
            <td>5</td>
            <td>$5.32</td>
            <td>$46.95</td>
        </tr>
        <tr>
            <td colspan="5" class="text-right"><strong>Total</strong></td>
            <td><strong>$190 </strong></td>
        </tr>
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-success">Checkout</button>
            </td>
        </tbody>
    </table>
</div>










<div class="footer">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <p>Developed by Deepak Dangal © 2024</p>
            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

