<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="{@/style.css}" rel="stylesheet">
</head>
<body>
<div class="call-md-12">
    <nav class="mynav navbar navbar-expand-lg navbar-light navbar bg-light">
        <div class="container">
            <img src="img/pic-1.png" class="pic-1">
            <a class="navbar-brand" href="#">Hamro Bazar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>


                </form>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Cart_final.html">Cart<span class="badge bg-danger">4</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>









</div>
<div class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center hero-text">
                <h1>Welcome To Our Grocery</h1>
                <h4>Buy all fresh and cheap food here!!</h4><br>
                <button class="btn btn-success">Shop Now</button>
            </div>
            <div class="col-md-6">
                <img src="img/grocery.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="product-area text-center">
        <br>
        <h3>Our Products</h3>
        <br>
        <div class="container">

            <div class="row">


                <div class="product-item col-md-4">
                    <img src="img/apple.jpg" class="img-fluid" alt="">
                    <h4>Apple</h4><br>
                    <h4>CAD 7.6$</h4>
                    <button class="btn btn-success">Add to Cart</button>
                </div>

                <div class="product-item col-md-4">
                    <img src="img/orange.jpg" class="img-fluid" alt="">
                    <h4>Orange</h4><br>
                    <h4>CAD 10.6$</h4>
                    <button class="btn btn-success">Add to Cart</button>
                </div>

                <div class="product-item col-md-4">
                    <img src="img/banana packet.jpg" class="img-fluid" alt="">
                    <h4>Banana Packet</h4><br>
                    <h4>CAD 18.6$</h4>
                    <button class="btn btn-success">Add to Cart</button>
                </div>

                <div class="product-item col-md-4">
                    <img src="img/roman lettuce.jpg" class="img-fluid" alt="">
                    <h4>Roman Lettuce</h4><br>
                    <h4>CAD 2.6$</h4>
                    <button class="btn btn-success">Add to Cart</button>
                </div>

                <div class="product-item col-md-4">
                    <img src="img/Green Peppers.jpg" class="img-fluid" alt="">
                    <h4>Green Peppers</h4><br>
                    <h4>CAD 4.64$</h4>
                    <button class="btn btn-success">Add to Cart</button>
                </div>





            </div>


        </div>




    </div>







    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p>Developed by Deepak 2024</p>
                </div>
            </div>
        </div>
    </div>






    <script src="js/bootstrap.bundle.min.js" ></script>

</div>
</body>
</html>
